<!DOCTYPE html>
<html>
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
    </div>
  </div>
  
  <div class="content"></div>

  <div id="cont">
    <div id="tp">
      <div id="head">
        <ul id="logo">
          <center><p1><b>About Zembo</b></p1></center>
        </ul>
      </div>

      <div id="panel1">
        <ul id="test">
          <center><img src ="imgs/logo.png" width="350px" height="210px"></center>
          <center><p4><b>"Work alone no more"</b></p4></center>
        </ul>
      </div>

      <div id="panel1">
        <ul id="test">
          <b><center><p2>The Idea</p2></center></b>
          <div id="content">
            <p3>
            Zembo is an app that allows students to physically communicate and connect with each other. It helps eliminate the tedium and stress of maintaining study groups or joining cliques. The idea is to allow you to effectively meetup with anyone from class and work right away.

            It is the next big step in efficient and effective learning. After a quick and easy account creation, students will be able to join “classrooms”, create new posts in a QA discussion-based environment, and even begin group chats. Students can create and schedule events or meetings to collaborate in person on assignments.
            </p3>
          </div>
        </ul>
      </div>

      <div id="panel3">
        <ul id="test">
          <b><center><p2>Why?</p2></center></b>
          <div id="quote">
            <p3>
              <center><i>“Studying in groups helps students learn more effectively. More than 20 years of academic research has consistently demonstrated that fact” -Neil Schoenherr</i></center><br>
            </p3>
          </div>
          <div id="content">
            <p3>
              Despite the fact that social media has inarguably become an integral part of student life, there does not exist a reliable way for students to connect with each other on a classroom to classroom basis. Piazza and comparable applications offer similar features, but without the convenience and functionality of Zembo. Piazza only allows instructors to create and moderate classes, while students cannot create groups of their own. Additionally, Piazza does not offer a “private” group chat or functions that encourage actual congregation. Students are bound to be less social under constant surveilance from the instructors. Apart from the virtual aspect, we encourage and enable students to meet up and work together!<br><br>

              <div id="list">
                <b><i>Studying with Zembo will allow students to:</i></b>
                <ul id="anthony">
                  <li>Cover more ground each session</li>
                  <li>Share notes and announcements</li>
                  <li>Be on top of their work</li>
                  <li>Never miss an assignment</li>
                </ul><br>
                <b><i>Which would lead to:</i></b>
                <ul id="list2">
                  <li><b>In-class comfort</b> - meeting new people outside the classroom enhances your confidence and ability to speak up in class</li>
                  <li><b>Less stress</b> - being on top of your work will reduce stress levels and keep your mind at ease</li>
                  <li><b>Getting to know people</b> - joining groups and congregating outside the classroom helps you get to know more people</li>
                  <li><b>Better learning</b> - "Two heads our better than one". Bring in new perspectives and understand topics in an easier fasion</li>
                  <li><b>Better grades</b> - with better learning comes better grades</li>
                </ul>
              </div>
            </p3>
          </div>
        </ul>
      </div>

      <div id="panel4">
        <ul id="test">
          <b><center><p2>Our Goal</p2></center></b>
          <div id="content">
            <center><p3>Our goal is to create a more enjoyable, convenient, and stress-free way for students to work cooperatively on campus!</p3></center>
          </div>
        </ul>
      </div>
    </div>
  </div>
  
</html>