<!DOCTYPE html>
<html>

  <head>
		<link rel="stylesheet" type="text/css" href="/css/adminControls.css" />
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  <div id="cont">
    <div id="tp">
      <div id="head">
        <ul id="logo">
          <center><p1><b>{{title}}</b></p1></center>
        </ul>
      </div>
  	</div>

    <div id="panel1">
        <ul id="test">
          <center><img src="/imgs/logo.png" width="350px" height="210px"></center>
          <center><p4><b>"Work alone no more"</b></p4></center>
        </ul>
      </div>

      <a id="boxlinks" href="/admin/users">
        <div class="linkText">
          All Users
        </div>
      </a>
      
      <a id="boxlinks" href="/admin/online">
        <div class="linkText">
          Online Users
        </div>
      </a>
  </div>

</html>