<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>
  
  
  <div id="cont">
    <div id="tp">
      <div id="head">
        <ul id="logo">
          <center><p1><b>{{title}}</b></p1></center>
        </ul>
      </div>

      <div id="panel1">
        <ul id="test">
          <center><img src="/imgs/logo.png" width="350px" height="210px"></center>
          <center><p4><b>"Work alone no more"</b></p4></center>
        </ul>
      </div>
    </div>

    <div id="panel1">
      <center> <div id="form">
         <p>{{message}}</p>
         <form method="post" action="/user/auth">
            <input type="text" name="email" placeholder="email" required><br> 
            <input type="password" name="pass" placeholder="password" required><br>
            <button class="btn">Login</button>
         </form>
         Don't have an account? <a href="registration">Click here</a>
        </center>
    </div>
  </div>
  
</html>
