<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="dist/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="/css/team.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>
  
  <center>
    <div id="cont">
      <div id="tp">
        <div id="head">
          <ul id="logo">
            <center><p1><b>{{member.fname}} {{member.lname}}</b></p1></center>
          </ul>
        </div>

        <div id="panel1">
          <ul id="test">
            <img src="/imgs/logo.png" width="350px" height="210px">
            <center><p4><b>"Work alone no more"</b></p4></center>
          </ul>
        </div>
      </div>
      
      <div class="positionClass">{{member.role}}</div>
      <div class="Description">{{member.description}}</div>
      <center><a href="/team">GO BACK</a></center>
    </div>
  </center>
  
</html>