<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/online.css">
  </head>
  
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>
  
  <div class="content"> 
    
  </div>
  
  <div id="cont">
    <div id="tp">
      <div id="head">
        <ul id="logo">
          <center><p1><b>{{title}}</b></p1></center>
        </ul>
      </div>

      <div id="panel1">
        <ul id="test">
          <center><img src="/imgs/logo.png" width="350px" height="210px"></center>
          <center><p4><b>"Work alone no more"</b></p4></center>
        </ul>
      </div>
    </div>

    {{#each online}}
      <a id="onlineLink" href="/user/profile?spireid={{this.spireid}}">
        <span id="onlineUsers">
          <img id="onlineImage" src="/imgs/users/{{this.spireid}}.jpg">
        </span>
      </a>
    {{/each}}
</html>