h1{
	text-align: center;
}

#boxlinks {
	text-decoration: none;
	padding: 1%;
}

.linkText {
	width: 100%;
	color: #444;
	font-family: ubuntu, helvetica, arial;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
}

th, td {
  border: 1px solid black;
	padding: 5%;
	text-align: center;

}

table {
  border-collapse: collapse;
	text-align: center;
}


#drawerImage{
  height: 130px;
  width: 130px;
  border-radius: 90px;
  border: 2px #444 solid;
  margin: 17px 30px;
  margin-bottom: -1%;
  margin-top: -.0000000001%;
}

#drawerProfPic{
  background-color: #9f9f9f;
}

#prof{
  background-color: #2878d8;
}

#drawerName{
  color: white;
  font-weight: bolder;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 2em;
}