#nav {
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav li a:hover:not(.active) {
  background-color: #111;
  background-color: #2878d8;
}

#nav p1{
  text-align: right;
  right: 0;
  float: right;
  padding: 14px 16px;
  font-size: 15px;
  color: white;
}

#nameRight{
    float: right;
    padding-right: 15px;
}

#flag{
  float:right;
  padding-right: 15px;
}

#postdata {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    height: auto;
    overflow: auto;
}

#postdata li a{
	display: block;
    color: #000;
    padding: 10px 0 10px 20px;
    text-decoration: none;
}


#comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    height: auto;
    overflow: auto;
}

#comments li{
  border-bottom: 1px solid #595959;
}

#comments li a{
    display: block;
    color: #000;
    padding: 10px 0 10px 20px;
    text-decoration: none;
}




#reply {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2878d8;
    position: relative;
    height: auto;
    overflow: auto;
}



#reply li a{
	  display: block;
    color: white;
    padding: 10px 0 10px 20px;
    text-decoration: none;
}

#textbox{
	width:100%;
}
#createbutton{
	width:100%;
}
#responsebox{
	display:none;
}

#flagPost{
  float: right;
  padding-right: 15px;
}

#flagComment{
  float: right;
  padding-right: 15px;
}


