#picture{
  display: block;
  position: relative;
  height: 195px;
  width: 195px;
  border-radius: 100px;
  border: 2px #444 solid;
}

#userInfo {
    margin-top: 3%;
    list-style-type: none;
    background-color: #f1f1f1;
    position: absolute;
    height: auto;
}

#userInfo li {
    display: block;
    color: #000;
    padding: 10px 0 10px 20px;
    text-decoration: none;
}

#container{
  background-color: #f1f1f1;
  overflow: hidden;
  width: 100%;
}

#inner{
  overflow: hidden;
  width: 100%;
}

#image{
  padding: 2%;
  float: left;
  background-color: #595959;
  width: 250px;
  height: auto
}

#details{
  float: left;
  background-color: #f1f1f1;
  width: 200px;
  height: auto
}

#update{
  color: #444;
  text-decoration: none;
  padding: 0.5%;
  background-color: #444;
  color: white;
}

#extend1{
  display: none;
}




